*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 285px;
    height: 30px;
}

header {
    background: #1E1C21;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    /* align-items: center; */
}

.links{
    display: flex;
    justify-content: space-between;
    width: 590px;
}

.links a{
    font-size: 26px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.banner{
    background: linear-gradient(90deg, #150605 0%, #7C1111 71.56%, #BC0000 100%);
    background-blend-mode: darken;
}

.banner h1{
    color: white;
    font-size: 70px;
}

.banner h3{
    color: white;
    font-size: 24px;
}

.time4 {
    width: 100px;
    height: 100px;
}

.logs{
    background: #000000;
    /* align-items: center; */
    justify-content: space-between;
}

.como_participar{
    background: linear-gradient(0deg, rgba(8, 65, 3, 0.78), rgba(8, 65, 3, 0.78)), url(E_Players/wp2635077.jpg);
}