*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 285px;
    height: 30px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    align-items: center; 
    display:flex;
    justify-content: space-between;
    height: 100%;
}

header {
    background: #1E1C21;
    height: 80px;
    top: 0;
    z-index: 99;
    width: 100%;
}

.menu{
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content: space-between;
}


.links a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
}

.banner{
    background: linear-gradient(90deg, #150605 0%, #7C1111 71.56%, #BC0000 100%);
    background-blend-mode: darken;
}

/* .yasuo{
    left: 0;
} */

.banner h1{
    color: white;
    font-size: 70px;
}

.banner h3{
    color: white;
    font-size: 24px;
}

.time4 {
    width: 100px;
    height: 100px;
}

.como_participar{
    background: linear-gradient(0deg, rgba(8, 65, 3, 0.78), rgba(8, 65, 3, 0.78)), url(E_Players/wp2635077.jpg);
}

.times{
    background: #000000;
}

.times h2{
    color: white;
}

.times h3{
    color: white;
}

.hr{
    color: white;
}

.logs{
    background: black;
}