*{
    margin: 0;
    padding: 0;
}

.Header_box{
    position: absolute;
    width: 100%;
    background: #1E1C21;
    align-items: center;
    height: 60px;
}

.links a{
    font-size: 26px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.banner{
    background: linear-gradient(90deg, #150605 0%, #7C1111 71.56%, #BC0000 100%);
    background-blend-mode: darken;
}

.banner h1{
    color: white;
    font-size: 70px;
}

.banner h3{
    color: white;
    font-size: 24px;
}

.time4 {
    width: 100px;
    height: 100px;
}